<!DOCTYPE html>
<html>
<head>
  <title>SitcomJourney</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="http://www.youtube.com/player_api"></script>
</head>
<body>
  <div class="container">
    <h2> Sitcom Journey </h2>
    <%= flash[:notice] %>
    <%= flash[:alert] %>
    <%= yield %>
  </div>
</body>
</html>
